.header-container {
    height: 120px;
    width: 100%;
    background-image: url(../../assets//desktop/bg-pattern-header.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    border-bottom-left-radius: 50px;
}
